# IDE files to ignore in root directory
.idea/
cmake-build-debug/
CMakeLists.txt

# IDE files to ignore in src directory
src/.idea/
src/cmake-build-debug/
src/CMakeLists.txt

# IDE Files to ignore in GUI directory
GUI/.vs/
GUI/Debug/
GUI/CppProperties.json
GUI/x64/Debug/OptimalFlights.exe.metagen
GUI/x64/Debug/OptimalFlights.pdb
GUI/OptimalFlights/x64/
